<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
          <ion-icon slot="icon-only" name="arrow-back" onClick="history.go(-1);"></ion-icon>
  </ion-buttons>
    <ion-title style="text-align:center">Mediciones del sensor {{this.idDispositivo}}</ion-title>
  </ion-toolbar>
</ion-header>
<div style="text-align:center" *ngIf="!this.dbStatus">
  <br>
    <h2>¡OPS! No se pudo acceder a la Base de Datos</h2>
    <br>
      <img  src="../../assets/dberror.png">
    <br>
    <h4>Verifique su conexión a internet o disponibilidad del servcio.</h4>
  <br>
</div>
<ion-content>
  <div *ngIf="this.dbStatus">
    <ion-list-header>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="9">
            <p style="text-align:center">Fecha</p>
          </ion-col>
          <ion-col size="3">
            <p >Valor</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list-header>
    <ion-list>
      <ion-item *ngFor="let med of mediciones" lines="full">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col  size="9">
              <div>{{med.fecha | fecha}}</div>
            </ion-col>
            <ion-col size="3">
              <div>{{med.valor | unit}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
    <!--
  <figure class="highcharts-figure"> -->
    <div id="container"></div>
    <p class="highcharts-description">
      Highcharts has extensive support for time series, and will adapt
      intelligently to the input data. Click and drag in the chart to zoom in
      and inspect the data.
    </p>
  <!-- </figure> -->
</ion-content>
