<ion-header>
  <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
          <ion-button routerLink="/home" routerDirection="root">
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title style="text-align:center;font-weight: bold;font-size:40px;">{{this.tipo}}  {{this.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>
<div  style="text-align:center" *ngIf="!this.dbStatus">
  <br>
    <h2>¡OPS! No se pudo acceder a la Base de Datos</h2>
    <br>
      <img  src="../../assets/dberror.png">
    <br>
    <h4>Verifique su conexión a internet o disponibilidad del servcio.</h4>
  <br>
</div>
<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size="12" size-sm="3">
      <ion-card>
       <ion-card-header>
        <ion-card-title style="text-align:center">
          Cartucho
        </ion-card-title>
       </ion-card-header>
       <ion-card-content style="text-align:center">
        <label style="font-size: 100px"><b>{{this.dpCartucho}}</b></label>
       </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-sm="3">
      <ion-card>
        <ion-card-header>
         <ion-card-title style="text-align:center">
           Filtro
         </ion-card-title>
        </ion-card-header>
        <ion-card-content style="text-align:center">
          <label style="font-size: 100px"><b>{{this.dpFiltro}}</b></label>
        </ion-card-content>
       </ion-card>
    </ion-col>
    <ion-col size="12" size-sm="3">
      <ion-card>
        <ion-card-header>
         <ion-card-title style="text-align:center">
           Activaciones
         </ion-card-title>
        </ion-card-header>
        <ion-card-content style="text-align:center">
          <label style="font-size: 100px"><b>{{this.activaciones}}</b></label>
        </ion-card-content>
       </ion-card>
    </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="this.dbStatus">
    <!-- <div  id="highcharts" style="width: 100%; height: 300px;"></div> -->
    <!-- <ion-button expand="block"  (click)="clickBtnTS()" *ngIf="this.estadoElectrovalvula ">CERRAR ELECTROVALVULA</ion-button>
    <ion-button expand="block"  (click)="clickBtnTS()" *ngIf="!this.estadoElectrovalvula ">ABRIR ELECTROVALVULA</ion-button>
    <ion-button expand="block" fill="outline" routerLink='/mediciones/{{this.data}}'>VER TODAS LAS MEDICIONES</ion-button>
    <ion-button expand="block" fill="outline" routerLink='/logs-riego/{{this.electrovalvula}}'>VER LOS RIEGOS</ion-button>
    <ion-button expand="block"  (click)="mostrarTepelcoLogs()" >VER LOGS DB Tepelco</ion-button> -->
    <ion-button expand="block" fill="outline" routerLink='/grafico'>Gráfico Historico</ion-button>
    <ion-text *ngIf="!this.dbPostStatus" style="text-align:center;color:red" >
    <p>¡¡ NO SE PUDIERON REGISTRAR LOS DATOS !!</p>
    </ion-text>
  </div>
  <!-- <div id="container2" style="width: 100%; height: 600px;"></div> -->
</ion-content>
<ion-footer>
  <ion-toolbar color="medium">
    <h5 style="text-align:center">Ingeniería Electrónica - Luis Guillon</h5>
  </ion-toolbar>
</ion-footer>



