<ion-header>
  <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
          <ion-button routerLink="/dispositivo" routerDirection="root">
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title style="text-align:center;font-weight: bold;font-size:40px;">Eventos de {{this.tipo}}  {{this.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-header>
  <ion-toolbar>
    <ion-title>bitacora + {{this.data}}</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid style="background-color: rgb(194, 194, 194)">
    <ion-row >
      <ion-col size="1" class="ion-align-self-center" style="text-align:center;">
        <ion-label>Fecha desde</ion-label>
      </ion-col>
      <ion-col size="3" >
        <ion-datetime-button datetime="datetime" ></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <!-- <ion-datetime  id="datetime" (ionChange)="onIonChange($event)"></ion-datetime > -->
            <ion-datetime  id="datetime" ></ion-datetime >
          </ng-template>
        </ion-modal>
      </ion-col>
      <ion-col size="1" class="ion-align-self-center" style="text-align:center;">
        <ion-label>Fecha hasta</ion-label>
      </ion-col>
      <ion-col size="3" >
        <ion-datetime-button datetime="datetime2"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <!-- <ion-datetime id="datetime2" (ionChange)="onIonChange($event)"></ion-datetime > -->
            <ion-datetime id="datetime2"></ion-datetime >
          </ng-template>
        </ion-modal>
      </ion-col >
      <ion-col size="2" class="ion-align-self-center" style="text-align:center">
        <!-- <ion-label *ngIf="this.btnGraficoDis" > Cargando datos ....</ion-label> -->
        <ion-label  > Cargando datos ....</ion-label>
      </ion-col>
      <ion-col size="2" >
        <!-- <ion-button  size="small" [disabled]="this.btnGraficoDis" (click)="mostrarIntervalo()">Filtrar por fecha</ion-button> -->
        <ion-button  size="small">Filtrar por fecha</ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
